*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* color: #fff; */
}

body
{
    background-color: rgb(27, 35, 46);
}

.homepage
{
    z-index: 99;
    height: 100%;
    width: 100%;
    padding: 30px 60px;
    /* margin: 30px; */
    border: 2px solid yellow;
}

/* styling of navigatino bar */

.nav
{
    background-color: rgb(156, 0, 23);
    display: table;
    margin : 0 auto;
    width: 100vw;
    margin-bottom: 2%;
}

.nav ul
{
    /* border: 2px solid yellow; */
    display: inline-block;
    /* margin-left: 35px; */
}

.nav ul li
{
    /* border: 1px solid violet; */
    display: inline-block;
    list-style: none;
    font-size: 20px;
    padding: 3vh 7.5vw;
}

.nav ul li:hover
{
    /* background-color: aqua; */
    transform: scale(1);
    background-color: #000;
    transition: .5s;
}

.nav ul li a
{
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}

.nav ul li a:hover
{
    /* background-color: blue; */
    text-decoration: underline;
    text-decoration-color: rgb(255, 165, 0);
}


/* Styling of heading */

.mainhead
{
    /* border: 2px solid white; */
}

.mainhead .mainimg
{
    border-radius: 5px;
}

.mainhead .mainimg p
{
    position: absolute;
    top: 120px;
    font-size: 8rem;
    font-weight: bold;
    padding-left: 1%;
    color: #fff;
    text-decoration: underline;
}

.mainhead .mainimg h3
{
    position: absolute;
    top: 250px;
    color: rgb(255, 165, 0);
    margin-top: 20px;
    font-size: 2rem;
    padding-left: 1%;
}

.mainhead .mainimg
{
    background-image: url("https://images.unsplash.com/photo-1561758033-d89a9ad46330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    /* border: 2px solid yellow; */
    display: inline-block;
    height: 50vh;
    width: 70%;

    animation-name: changeimg;
    animation-direction:alternate-reverse ;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}



.mainhead .tacober
{
    float : right;
    height: 300px;
    width: 27%;

}

.mainhead .tacober .tacobeitem
{
    /* border: 2px solid red; */
    margin-bottom: 10px;
    height: 78%;
    text-align: center;
    border-radius: 5px;
    color: #fff;

}

.mainhead .tacober #tacos
{
    background-image: url("https://images.unsplash.com/photo-1627564803215-ad55bad5c5ea?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mainhead .tacober #beer
{
    background-image: url("https://images.unsplash.com/photo-1615332579037-3c44b3660b53?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGJlZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mainhead .tacober .tacobeitem .price
{
    color: #fff;
    padding-top: 60px;
    font-size: 70px;
}

.mainhead .tacober .tacobeitem .name
{
    font-size: 30px;
}

.mainhead .tacober .tacobeitem button
{
    cursor: pointer;
    font-weight: bold;
    background-color: black;
    color: #fff;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 1rem;
    height: 40px;
    width: 110px;
    opacity: 0;
}

.mainhead .tacober .tacobeitem:hover button
{
    transition: 0.5s;
    opacity: 1;
}

.mainhead .tacober .tacobeitem button:hover
{
    border: 5px solid white;
    border-color:#fff;
    color: aqua;
}

/* .mainhead .tacober .tacobeitem:hover button
{
    opacity: 1;
} */

/* Styling of menu items */

.homepage .menuitems
{
    margin-top: 2%;
    /* border: 2px solid hotpink; */
    margin-bottom: 2%;
}

.homepage .menuitems .items 
{
    /* border: 1px solid green; */
    display: inline-block;
    width: 19.8%;
    height: 420px;
    margin: 0px 0px 0px 0px;
    padding: 0px 15px;
    transition: transform 0.9s;
    border-radius: 10px;
}

.homepage .menuitems .items .itemhead
{
    margin: 60% 0% 0% 0%;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    opacity: 0;
    color: #fff;
}

.homepage .menuitems .items .itemdis
{
    /* border: 2px solid red; */
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    margin-top: 25%;
    opacity: 0;
}

.homepage .menuitems #itemtacos
{
    background-color: aqua;
    background-image: url("https://images.unsplash.com/photo-1633271306841-0e5cce5d794f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fHRhY29zfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.homepage .menuitems #itembeer
{
    background-color: aliceblue;
    background-image: url("https://images.unsplash.com/photo-1618183479302-1e0aa382c36b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGJlZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.homepage .menuitems #itemwine
{
    background-color: blue;
    background-image: url("https://images.unsplash.com/photo-1630369160812-26c7604cbd8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fHdpbmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.homepage .menuitems #itempizza
{
    background-image: url("https://images.unsplash.com/photo-1613564834361-9436948817d1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=743&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.homepage .menuitems #itemburger
{
    background-image: url("https://images.unsplash.com/photo-1632203171982-cc0df6e9ceb4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=828&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.homepage .menuitems .items:hover
{
    cursor: pointer;
    transform: scale(0.95);
    box-shadow: 5px 5px 5px 5px #fff;
}

.homepage .menuitems .items:hover > .itemhead
{
    opacity: 1;
    text-decoration: underline;
    text-decoration-color: orange;
}


.homepage .menuitems .items:hover > .itemdis
{
    opacity: 1;
}


/* styling of displayitem */

.homepage .displayitem
{
    background-color: #fff;
    /* border: 2px solid yellow; */
    margin-bottom: 2%;
    padding: 1%;
}

.homepage .displayitem .imgdiv
{
    display: inline-block;
    height: 50vh;
    width: 50vw;
    background-image: url("https://images.unsplash.com/photo-1610913948701-42071d6a1df5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGZvb2QlMjBwcmVwYXJhdGlvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.homepage .displayitem .disdiv
{
    /* border: 2px solid purple; */
    float: right;
    height: 50vh;
    width: 40vw;
}

.homepage .displayitem .disdiv h2
{
    margin-top: 20%;
    margin-bottom: 2%;
    text-transform: capitalize;
}

.homepage .displayitem .disdiv p
{
    font-size: 1.2rem;
}

.homepage .displayitem .disdiv button
{
    margin-top: 2%;
    font-size: 1em;
    height: 2rem;
    width: 10rem;
    cursor: pointer;
    font-weight: bold;
    background-color: black;
    color: #fff;
    border-radius: 20px;
    /* font-size: 1rem; */
}

.homepage .displayitem .disdiv button:hover
{
    border: 3px solid white;
    border-color:rgb(156, 0, 23);
    color: aqua;
}

/* styling of instant games */


.homepage .instantgames
{
    /* border: 1px solid yellow; */
}


.homepage .instantgames h4
{
    margin: 25px auto;
    color: #228B22;
    text-align: center;
    font-size: 30px;
    position: relative;
}

.homepage .instantgames h4::before
{
    content: "";
    display: block;
    width: 780px;
    height: 10px;
    background: #CD5C5C;
    left: 0;
    top: 40%;
    position: absolute;  
}

.homepage .instantgames h4::after
{
    content: "";
    display: block;
    width: 780px;
    height: 10px;
    background: #CD5C5C;
    right: 0px;
    top: 40%;
    position: absolute;
}

.homepage .instantgames .fooditembox
{
    display: inline-block;
    /* border: 2px solid red; */
    width: 25vw;
    height: 40vh;
    margin: 1% 1%;
}

.homepage .instantgames .fooditembox img
{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: greenyellow;
    transition: transform .5s;
}

.homepage .instantgames .fooditembox img:hover
{
    cursor: pointer;
    transform: scale(0.9);
    box-shadow: 5px 5px 5px 5px rgb(156, 0, 23);
}

/* Styling of footer */

.footer
{
    /* border: 2px solid yellow; */
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 1% 10%;
}

.footer .footermenu
{
    display: inline-block;
    height: 20vh;
}

.footer .footermenu li
{
    color: #fff;
    list-style: none;
    margin: 20px 0px;
    font-size: larger;
    /* font-weight: bold; */
}

.footer .footermenu li a
{
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 1000;
}

.footer .footermenu li a:hover
{
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: 4px;
}



.footer .footerimg
{
    float: right;
    margin-right: 12%;
    width: 25vw;
    height: 20vh;
}

.footer .footerimg img
{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
}

/* Animation of changing the background of the main image section */

@keyframes changeimg
{
    0%{
        background-image: url("https://images.unsplash.com/photo-1561758033-d89a9ad46330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    }
    20%{
        background-image: url("https://images.unsplash.com/photo-1571407970349-bc81e7e96d47?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHBpenphfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    }
    40%{
        background-image: url("https://images.unsplash.com/photo-1551183053-bf91a1d81141?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBhc3RhfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    }
    60%{
        background-image: url("https://images.unsplash.com/photo-1568901346375-23c9450c58cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YnVyZ2VyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    }
    80%{
        background-image: url("https://images.unsplash.com/photo-1528735602780-2552fd46c7af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80");
    }
    100%{
        background-image: url("https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fGx1bmNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    }

}

