@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: #2f2fa2;
}

/* style of nav bar */

.headnav
{
    background-color: rgb(250, 244, 244);
    overflow: hidden;
    padding: 0px 120px 0px 60px;
}

.headnav ul
{
    display: inline;
    float: right;
    margin-top: 10px;
}

.headnav li
{
    display: inline-block;
    margin: 8px 5px;
    background-color: #242582;
    padding-inline: 25px;
    font-size: 25px;
}

.headnav li:hover
{
    background-color: #f64c72;
}

.headnav li a
{
    color: rgb(250, 244, 244);
    text-decoration: none;
    font-size: large;
    margin: 0px 40px;
}


#logoimg
{
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    height: 50px;
    width: 200px;
    background-color: transparent;
    border-radius: 25px;
    margin-top: 5px;
    /* margin-left: 50px; */
}


/* styling of container */



.contentbox
{
    height: 93vh;
    padding: 0px 60px;

    /* display: contents; */
}

.contentbox .contbord
{
    border: 10px dashed black;
    display: contents;
}

.contright
{
    display: inline-block;
    height: 100%;
    width: 25vw;
    background-color: #242582;
    /* border: 2px solid #f26; */
}

.contleft
{
    /* display: contents; */
    height: 100%;
    width: 65vw;
    float: left;
    background-color: #242582;
    margin-right: 20px;
}

#mainimg
{
    border: 2px solid black;
    height: 40%;
    width: 60%;
    margin-top: 5px;
    border-radius: 47px;
}

#mainimg img
{
    width: 100%;
    height: 100%;
    border-radius: 45px;
}

.contentbox h3
{
    text-align: center
}

.contentbox .contleft .tagline
{
    font-family: 'Special Elite','cursive';
    color: rgb(255, 244, 244);
    margin: 3% 0%;
    background-color: transparent;
}

#subimg
{
    height: 300px;
    width: 300px;
    margin: 45px;
    border: 2px solid black;
    border-radius: 47px;
}

#subimg img
{
    height: 100%;
    width: 100%;;
    border-radius: 45px;
}

.contentbox .contleft .quotes
{
    font-family: 'Special Elite','cursive';
    color: #f64c72;
    text-align: center;
    margin: 3% 1%;
    padding: 20px;
    border: 1px solid rgb(250, 244, 244);
    background-color: transparent;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.events table
{
    border-color: 1px white;
    border-collapse: collapse;
    width: 90%;
    height: 20px;
    margin: 45px;
}

.events table tr
{
    height: 55px;
    color: rgb(250, 244, 244);
}

.events table td
{
    padding-left: 35px;
}

.events table th
{
    font-weight: bold;
    width: 30%;
    background-color: #fff;
    color: #242582;
}

/* Styling of right content box */

.personaldel table
{
    height: 100%;
    width: 100%;
}

.personaldel table th
{
    color: #242582;
    background-color: rgb(255, 244, 244);
    text-align: left;
    width: 100px;
    margin-right: 5px;
}

.personaldel table td
{
    color: rgb(255, 244, 244);
    text-align: left;
    height: 50px;
    border-bottom: 2px solid gray;
}


/* For gap between the table row*/

#lowhi1
{
    height: 10px;
}

#lowhi2
{
    height: 10px;
}

#lowhi3
{
    height: 10px;
}

#lowhi4
{
    height: 10px;
}
